name: pull-request
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - '**/__vis__/**/__baselines__/**'
jobs:
  verify:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - windows-latest
        node-version:
          - 20
          - 22
    runs-on: ${{ matrix.os }}
    env:
      PLAYWRIGHT_PATH: ${{ matrix.os == 'windows-latest' && 'C:\\Users\\runneradmin\\AppData\\Local\\ms-playwright' || '~/.cache/ms-playwright' }}
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Cache Playwright Browsers
        uses: actions/cache@v4
        id: cache-playwright
        with:
          path: ${{ env.PLAYWRIGHT_PATH }}
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install playwright browsers
        if: steps.cache-playwright.outputs.cache-hit != 'true'
        run: pnpx playwright install --with-deps chromium firefox

      - name: Install Dependencies
        run: pnpm install

      - name: Verify
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: pnpm verify:ci
      - run: git add .
      - name: Detect snapshot changes
        uses: dorny/paths-filter@v3
        id: snapshot-changes
        with:
          base: HEAD
          filters: |
            snapshots:
              - '*/*/__vis__/**/__baselines__/**'

      - name: Create Pull Request
        if: matrix.node-version == '22' && steps.snapshot-changes.outputs.snapshots == 'true' && !startsWith(github.head_ref, 'vis-bot')
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "test(${{matrix.os}}/${{matrix.node-version}}): update snapshot"
          token: ${{ secrets.CI_GITHUB_TOKEN }}
          title: "test(${{matrix.os}}/${{matrix.node-version}}): update snapshot"
          body: This PR updates the snapshot for ${{matrix.os}} node ${{matrix.node-version}}"
          branch: vis-bot/update-snapshot/${{ github.head_ref }}-${{ matrix.os }}-${{ matrix.node-version }}
          base: ${{ github.head_ref }}
          labels: "snapshot"
          draft: false
