name: release
on:
  push:
    branches:
      - main
      - releases/*
permissions:
  id-token: write

jobs:
  verify:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        node-version:
          - 20
          - 22
    runs-on: ${{ matrix.os }}
    env:
      PLAYWRIGHT_PATH: ${{ matrix.os == 'windows-latest' && 'C:\\Users\\runneradmin\\AppData\\Local\\ms-playwright' || '~/.cache/ms-playwright' }}
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Install playwright browsers
        uses: repobuddy/.github/.github/actions/setup-playwright@main

      - name: Verify
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 2
          command: pnpm verify:ci

      - name: Archive snapshots
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: snapshots
          path: |
            */*/__vis__/**/__diffs__
            */*/__vis__/**/__results__

  release:
    uses: repobuddy/.github/.github/workflows/pnpm-release-changeset.yml@main
    needs: verify
    secrets: inherit

  docgen:
    permissions:
      contents: write
    uses: repobuddy/.github/.github/workflows/pnpm-docs.yml@main
    needs: release
    if: github.ref == 'refs/heads/main' && needs.release.outputs.published == 'true'
    with:
      publish-dir: ./packages/storybook-addon-vis/storybook-static