name: update-snapshot
on:
  workflow_dispatch:
    inputs:
      build-command:
        description: 'Command to run to build the project'
        required: true
        default: 'pnpm build'
      update-snapshot-command:
        description: 'Command to run to update the snapshot'
        required: true
        default: 'pnpm test -- -u'
jobs:
  update-snapshot:
    runs-on: ubuntu-latest
    env:
      PLAYWRIGHT_PATH: "~/.cache/ms-playwright"
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Install playwright browsers
        uses: repobuddy/.github/.github/actions/setup-playwright@main

      - run: ${{ inputs.build-command }}
      - run: ${{ inputs.update-snapshot-command }}

      - name: Archive snapshots
        if: failure()
        uses: actions/upload-artifact@v7
        with:
          name: snapshots
          path: |
            */*/__vis__/**/__diffs__
            */*/__vis__/**/__results__

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "test: update snapshot"
          token: ${{ secrets.CI_GITHUB_TOKEN }}
          title: "test: update snapshot"
          body: "This PR updates the snapshot"
          branch: vis-bot/update-snapshot/${{ github.head_ref || github.ref_name }}
          base: ${{ github.base_ref }}
          labels: "snapshot"
          draft: false